.button_edit-avatar {
  position: absolute;
  width: 121px;
  height: 121px;
  left: 0;
  top: 0;
  border: none;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.button_edit-avatar:hover {
  z-index: 6;
}
