.modal__form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 430px;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  z-index: 10;
  padding: 34px 36px 37px;
  box-sizing: border-box;
}

@media (max-width: 592px) {
  .modal__form {
    max-width: 282px;
    padding: 25px 22px;
  }
}

@media (max-width: 320px) {
  .modal__form {
    height: 322px;
  }
}