.modal__description {
  width: 98%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 5px 3px 5px;
}

@media (max-width: 592px) {
  .modal__description {
    width: 98%;
  }
}

