.login__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  margin-top: 15px;
}

@media (max-width: 320px) {
  .login__text {
    margin-top: 20px;
  }
}
