.element__like {
  height: 19px;
  width: 22px;
  background-image: url(../../../images/heart_.svg);
  background-repeat: no-repeat;
  border: none;
  background-color: #FFFFFF;
  padding: 0;
  align-self: center;
}
.element__like:hover {
  cursor: pointer;
}


